{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}کتاب‌ فروشی {% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<header class="header">
    <div class="container header-content">

        <a href="{% url 'home' %}" class="logo"><i class="ri-book-2-fill"></i>
            کتاب‌ فروشی 
        </a>

        <nav class="nav">
            <a href="{% url 'book_list' %}">کتاب‌ها</a>

            {% if user.is_authenticated %}
                <a href="{% url 'cart' %}">سبد خرید</a>
                <a href="{% url 'wishlist' %}">علاقه‌مندی‌ها</a>
                <a href="{% url 'order_history' %}">سفارش‌ها</a>

                <a href="{% url 'notifications' %}">
                    اعلان‌ها
                    {% if unread_notifications_count > 0 %}
                        <span class="badge">{{ unread_notifications_count }}</span>
                    {% endif %}
                </a>

                <a href="{% url 'support_list' %}">پشتیبانی</a>
            {% endif %}
        </nav>

        <div class="auth">
            {% if user.is_authenticated %}
                <span class="username">
                    سلام {{ user.username }}
                </span>

                <a href="{% url 'profile' %}" class="btn btn-outline">
                    پروفایل
                </a>

                <a href="{% url 'logout' %}" class="btn btn-outline">
                    خروج
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline">
                    ورود
                </a>
                <a href="{% url 'signup' %}" class="btn btn-primary">
                    ثبت‌ نام
                </a>
            {% endif %}
        </div>

    </div>
</header>

{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="message {{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<main class="main">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>




<div id="chatbot-toggle">
    💬
</div>

<div id="chatbot-box" class="hidden">
    <div class="chatbot-header">
        <span>دستیار هوشمند کتاب‌فروشی</span>
        <button id="chatbot-close">✖</button>
    </div>

    <div id="chatbot-messages">
        <div class="bot-message">
            سلام 👋  
            هر سوالی درباره کتاب‌ها، خرید یا پیشنهاد مطالعه داری بپرس.
        </div>
    </div>

    <form id="chatbot-form">
        <input type="text" id="chatbot-input" placeholder="سؤال خود را بنویسید..." required>
        <button type="submit">ارسال</button>
    </form>
</div>




<footer class="footer">
    <div class="container footer-grid">

        <div class="footer-section">
            <h4>درباره ما</h4>
            <p>
                فروشگاه آنلاین کتاب با هدف فراهم‌کردن دسترسی آسان
                به بهترین کتاب‌های فارسی و خارجی راه‌اندازی شده است.
            </p>
        </div>

        <div class="footer-section">
            <h4>دسترسی سریع</h4>
            <ul>
                <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                <li><a href="{% url 'book_list' %}">کتاب‌ها</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'cart' %}">سبد خرید</a></li>
                    <li><a href="{% url 'order_history' %}">سفارش‌ها</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">ورود</a></li>
                    <li><a href="{% url 'signup' %}">ثبت‌نام</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="footer-section">
            <h4>تماس با ما</h4>
            <p> ایمیل: support@bookstore.ir</p>
            <p> تلفن: 021-12345678</p>
        </div>

    </div>

    <div class="footer-bottom">
        © 1404 | پروژه وب اپلیکیشن کتاب‌ فروشی
    </div>
</footer>



<div id="page-loader">
    <div class="loader"></div>
</div>





<script src="{% static 'main/js/main.js' %}"></script>

</body>
</htm>