{% extends 'main/base.html' %}

{% block title %}
ارسال درخواست پشتیبانی | کتاب‌فروشی 
{% endblock %}

{% block content %}

<div class="form-box">
    <h2>ارسال درخواست پشتیبانی</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            ارسال درخواست
        </button>
    </form>

    <a href="{% url 'support_list' %}"
       class="btn btn-outline back-link support-back-link">
        بازگشت
    </a>
</div>

{% endblock %}
