{% extends 'main/base.html' %}

{% block title %}
اعلان‌ها | کتاب‌فروشی 
{% endblock %}

{% block content %}

<h2 class="page-title">اعلان‌های شما</h2>

<ul class="notification-list">
    {% for n in notifications %}
        <li class="notification-item {% if not n.is_read %}unread{% else %}read{% endif %}">
            <p class="notification-message">
                {{ n.message }}
            </p>

            <small class="notification-date">
                {{ n.created_at|date:"Y/m/d H:i" }}
            </small>

            {% if not n.is_read %}
                <div class="notification-action">
                    <a href="{% url 'mark_notification_read' n.id %}"
                       class="btn btn-outline notification-btn">
                        علامت‌گذاری به‌عنوان خوانده‌شده
                    </a>
                </div>
            {% endif %}
        </li>
    {% empty %}
        <p>اعلانی وجود ندارد.</p>
    {% endfor %}
</ul>

{% endblock %}
