{% extends 'main/base.html' %}

{% block title %}
بازیابی رمز عبور | کتاب‌فروشی 
{% endblock %}

{% block content %}
<div class="form-box password-reset">
    <h2>بازیابی رمز عبور</h2>

    <p class="password-reset-text">
        ایمیل حساب کاربری خود را وارد کنید تا لینک تغییر رمز عبور برای شما ارسال شود.
    </p>

    <form method="post">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}

        <button type="submit" class="btn btn-primary">
            ارسال لینک بازیابی
        </button>
    </form>
</div>
{% endblock %}

