{% extends 'main/base.html' %}

{% block title %}
پرداخت آنلاین | کتاب‌‌فروشی
{% endblock %}

{% block content %}
<div class="confirmation-box payment-box">
    <h2 class="confirmation-title">
        پرداخت سفارش
    </h2>

    <p class="confirmation-item">
        مبلغ قابل پرداخت:
        <strong>{{ order.total_amount }} تومان</strong>
    </p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            پرداخت آنلاین
        </button>
    </form>
</div>
{% endblock %}

