{% extends 'main/base.html' %}

{% block title %}
ویرایش پروفایل | کتاب‌‌فروشی 
{% endblock %}

{% block content %}

<div class="form-box">
    <h2>ویرایش اطلاعات حساب</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            ذخیره تغییرات
        </button>
    </form>
</div>

<hr class="section-divider">

<div class="profile-card">
    <h3>آدرس‌ها</h3>

    <p class="profile-hint">
        در هر زمان فقط یک آدرس می‌تواند به‌عنوان پیش‌فرض انتخاب شود.
    </p>

    {% if addresses %}
        <ul class="address-list editable-address-list">
            {% for address in addresses %}
                <li>
                    {{ address.city }}، {{ address.street }}

                    {% if address.is_default %}
                        <span class="default-address">(پیش‌فرض)</span>
                    {% endif %}

                    <div class="address-actions">
                        <a href="{% url 'edit_address' address.id %}"
                           class="btn btn-outline btn-sm">
                            ویرایش
                        </a>

                        <a href="{% url 'delete_address' address.id %}"
                           class="btn btn-outline danger btn-sm">
                            حذف
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="empty-text">آدرسی ثبت نشده است.</p>
    {% endif %}

    <a href="{% url 'add_address' %}"
       class="btn btn-primary add-address-btn">
        افزودن آدرس جدید
    </a>
</div>

<hr class="section-divider">

<div class="profile-card">
    <h3>امنیت حساب</h3>

    <p class="profile-hint">
        برای تغییر رمز عبور، لینک به ایمیل شما ارسال خواهد شد.
    </p>

    <a href="{% url 'password_reset' %}" class="btn btn-outline">
        تغییر رمز عبور
    </a>
</div>

{% endblock %}




