body {
    direction: rtl;
    font-family: tahoma;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
